@font-face {
    font-family: "maharam";
    src: url("../src/MaharamNeue-Regular.otf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "maharam-medium";
    src: url("../src/MaharamNeue-Medium.otf");
    font-weight: medium;
  }

body{
    margin: 0;
    overflow-x: hidden;
}

#logo{
    width: 8vw;
    margin-top: 0vh;
    margin-left: 12vw;
}

#topnav{
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
}

#menu{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 38vw;
    float: right;
    margin-right: 6vw;
    vertical-align: top;
}

p{
    font-size: 16px;
    color: #000000;
    font-family: "maharam";
    font-weight: normal;
    vertical-align: top;
    line-height: 1.4;
}

h1{
    font-size: 48px;
    color: #000000;
    font-family: "maharam";
    font-weight: normal;
    margin-bottom: 50px;
    vertical-align: top;
}

h2{
    font-size: 18px;
    color: #000000;
    font-family: "maharam";
    font-weight: normal;
    vertical-align: top;
    margin-top: 10px;

}

h3{
    font-size: 18px;
    color: #000000;
    font-family: "maharam";
    font-weight: normal;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

#logolockup{
    display: inline-block;
}

#footer{
    background-color: black;
    height: 20vh;
    margin-top: 25vh;
    margin-bottom: 0;
    overflow-x: hidden;}

#footermenu{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
    float: right;
    margin-right: 5vw;
    vertical-align:top;
    margin-top: 3vh;
}

#productsmall{
   width: 12vw;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 1vw;
    z-index: 1;
    transition: 0.8s;
}

#productsmall:hover{
    transform: scale(1.4);
    z-index: 2;
}

#gallery{
    display: block;
    margin-bottom: 50px;
    margin-left: 9vw;
}

.productdetails{
    width: 50%;
    height: 70vh;
    background-color: white;
    z-index: 100;
    border: 1px black solid;
    position: fixed;
    top: 20vh;
    left: 25vw;
    right: 25vw;
    box-shadow: 11px 17px 39px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 17px 39px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 17px 39px -11px rgba(0,0,0,0.75);
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    padding-bottom: 30px;
}

#detailproductimg{
    height: 45vh;
    margin-top: 13vh;
    margin-left: 5vw;
    display: inline-block;
}

#detaildescription{
    width: 15vw;
    display: inline-block;
    margin-left: 8vw;
    margin-top: 8vh;
    position:absolute;
}

#more{
    margin-left: 7vw;
    margin-bottom: 6vh;
}

#exit:hover{
    color: #000000;
}